<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
        <title>Detail page: </title>

    </head>
    <body>
    <div class="container">
        <div class ="row">
            <div class="col-md-12  ">
            <h1 class="bg-info text-white" > {{question.question_text}}</h1>
            </div>
        </div>

        <div class="row">
        <div class="col-md-8">
            {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
            {% endif %}
            
            <form action="{% url 'polls:vote' question.id %}" method ="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice {{forloop.counter}}" value="{{ choice.id}}"/>
            <label for="choice {{ forloop.counter}}">
                {{ choice.choice_text}}
            </label>
            <br/>
            {% endfor%}
        </div>
        <div class="col-md-4">
            <input class="bg-info text-white" type="submit" value="vote"/>
        </div>
        </form>
        </div>
    </div>
    </body>
</html>